<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DP45K3ZV1H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-DP45K3ZV1H');
    </script>
    <link rel="stylesheet" href="/css/app.css">  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/images/favicon.ico' | relative_url }}">
    <meta property="og:image" content="https://repository-images.githubusercontent.com/819133700/b298fc02-8de1-4335-98ec-512975d0fc26" />
  </head>
  <body>
    <div class="layout-wrapper">
      <nav class="sidebar">
        <div class="sidebar-header">
          <a href="https://docs.acada.dev">
              <img src="/images/logo.svg" alt="Acada Robotics Documentation" style="width: 140px; display: block;">
          </a>
        </div>
        <div class="sidebar-menu">
            <ul style="list-style: none; padding: 0; margin: 0;">
                {% for item in site.data.navigation %}
                  <li style="margin-bottom: 8px;">
                      <a class="nav-link {% if page.url == item.url %}active{% endif %}" href="{{ item.url }}">
                          {{ item.title }}
                      </a>
                  </li>
                {% endfor %}
            </ul>
        </div>
      </nav>
      <main class="main-content markdown-body">
          <div class="content-breadcrumbs">
             <h4>
               <a href="https://acada.dev">ACADA Robotics</a> •
               <a href="https://docs.acada.dev">Documentation</a> •
               <span class="breadcrumb-active">ROS2RPI</span>
             </h4>
          </div>
          {{ content }}
          <p style="border-top: 1px solid #EEE; margin-top:20px; padding-top: 10px; margin-bottom: 20px; font-size: 0.9em; color: #666;">
              Copyright © 2026, ACADA Robotics • <a href="https://acada.dev">https://acada.dev</a>
          </p>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    <script type="module" src="/modules/clipboard-copy-element/dist/index.js"></script>
    <script>
      document.addEventListener('clipboard-copy', function (event) {
        const element = event.target;
        const svg_copy = element.querySelector('.js-clipboard-copy-icon');
        const svg_ok = element.querySelector('.js-clipboard-check-icon');
        svg_copy.classList.add('d-none');
        svg_ok.classList.remove('d-none');
        setTimeout(function () {
          svg_copy.classList.remove('d-none');
          svg_ok.classList.add('d-none');
        }, 2000);

      });
      const replays = document.querySelectorAll('.replay');
      replays.forEach(image => {
        image.addEventListener('click', function(event) {
          const timestamp = new Date().getTime();
          const current_src = image.src;
          image.src = current_src + '?' + timestamp;
          event.preventDefault();
        });
      });
    </script>    
  </body>
</html>
